<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/editpet.css"/>
    <script defer src="/js/app.js"></script>
    <title>Pets4U</title>
</head>
<body>

    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/pets">Available Pets</a>
            <a href="/locations">Search By Location</a>
            <a href="/pets/new">New Pet</a>
        </nav>
    </header>

    <main>
        <h1>Edit Pet</h1>

        <form action="/pets/<%=pet._id%>?_method=PUT" method="POST">
        
            Name: <input type="text" name="name" value="<%=pet.name%>"/> <br/><br/>
      
            Pet Type: <input type="text" name="petType" value="<%=pet.petType%>"/> <br/><br/>

            Sex: <select name="sex" value="<%=pet.sex%>">
                <option>Male</option>
                <option>Female</option>
            </select> <br/><br/>
      
            Age: <select name="age.ageNumber" value="<%=pet.age.ageNumber%>">
                <% for (let i = 1; i < 50; i++) { %>
                    <option><%=i%></option>
                <% } %>
            </select>        
            <select name="age.ageLength" value="<%=pet.age.ageLength%>">
                <option>months</option>
                <option>years</option>
            </select>
                
             <br/><br/>

            Breed/Species: <input type="text" name="breedSpecies" value="<%=pet.breedSpecies%>"/> <br/><br/>
      
            Location: <select name="location" value="<%=pet.location%>">
                <% for (let i = 0; i < location.length; i++) { %>
                    <% for (let j = 0; j < location[i].city.length; j++) { %>
                    <option value="<%=`${location[i].city[j]}, ${location[i].state}`%>"><%=`${location[i].city[j]}, ${location[i].state}`%></option>

                    <% } %>
                <% } %>
            
            </select> <br/><br/>


            Neutered: <input type="checkbox" name="neutered" 
            <%if (pet.neutered === 'neutered') { %>
                checked
            <% } %> 
            /> <br/><br/>

            Description: <textarea name="description"><%=pet.description%></textarea> <br/><br/>
      
            <button type="submit">Submit Change</button>
      
          </form>

    </main>
    <footer>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Ally Pittman & Nate Daniels </footer>
</body>
</html>